html,
body {
    font-family: Consolas, monospace;
    /* background-color: lightgoldenrodyellow; */
}
footer {
    font-size: 0.7em;
    position: fixed;
    bottom: 0px;
    right:10px;
}



#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}
.suggestion-item {
    padding: 8px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f0f0f0;
}
#resultBox {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
#queryList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.query-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.query-item input {
    margin-right: 10px;
}
.remove-query {
    cursor: pointer;
    color: red;
}